<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
    <title>{% block title %}Base template{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
            <div id="title"></div>
            <div id="corner">
                <a href="/logout/">Log out</a>
            </div>
        {% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebar %}

        {% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
