body {
	background-color: #DEF;
	margin: 0px 15px 0px;
	padding: 0px;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/* login baesd on a guide from red team design<http://www.red-team-design.com/slick-login-form-with-html5-css3>.
*/


#login, table {
	background-color: #FFF;
	border: 1px solid #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 
        0 0 2px rgba(0, 0, 0, 0.2),  
        0 1px 1px rgba(0, 0, 0, .2),
		0 3px 0 #CCC,
		0 4px 0 rgba(0, 0, 0, .2);
	margin: 200px auto 0px;
	padding: 5px;
	text-align: center;
	width: 500px;
}

	#login h1 {
		color: #666;
		font-variant: small-caps;
		margin: 0px;
		padding: 10px 0px 0px;
	}

	#login #textInputs input {
		background-color: #EEE;
		border: 1px solid #ccc;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		border-radius: 5px;
		height: 15px;
		margin: 10px 15px 10px;
		padding: 10px;
		width: 448px;
	}

	#login #textInputs input:focus {
		background-color: #FFF;
		border: #fddb6f 1px solid;
	}
	
	#login #actionable {
		padding-bottom: 10px;
	}
	
		#login #actionable input {
			background-color: #ffb94b;
	
			border: 1px solid #ccc;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			border-radius: 5px;
			cursor: pointer;
			float: left;
			font-weight: bolder;
			height: 35px;
			margin-left: 15px;
			width: 120px;
		}
		
			#login #actionable input:focus,#login #actionable input:hover  {
				 background-color: #fddb6f;
			}
		
		#login #actionable a {
			color: #3151A2;
			float: right;
			line-height: 35px;
			margin-right: 15px;
		}
		
/* End of login CSS */

header, section, footer, nav {
	display: block;
	clear: both;
}

	nav a {
		background-color: #FFF;
		border: 1px #CCC solid;
		color: #000;
		display: block;
		padding: 5px;
		float: left;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		margin: 0px;
		width: 90px;
	}
	
		nav a:nth-last-of-type(1) {
			float: right;
		}
		
		nav a:hover {
			background-color: #DDD;
		}

table {
	float: left;
	margin: 10px auto 10px;
	text-align: left;
	width: 50%;
}

	caption {
		font-size: 22px;
	}

	#Payments {clear: left;}

	#Payments td:nth-of-type(3):before,
	#Reciepts td:nth-of-type(2):before,
	#Reciepts td:nth-of-type(3):before {
		content: "$";
	}
	
	th {
		border-bottom: 1px #000 solid;
		font-size: 25px;
		min-width: 90px;
	}
	
	td {
		padding: 15px;
	}
	
	#Reciepts tr:nth-of-type(even) {background-color: #DDD;}
	#Payments tr:nth-of-type(4n+2) {background-color: #DDD;}
	#Payments tr:hover {background-color: #fddb6f;}
	#Payments tr:nth-of-type(1) {background-color: #FFF;}
	#Payments tr.notes {background-color:#DEF;}
	
	tr {
		cursor: pointer;
		height: 26px;
	}
		tr.notes {
			display: none;
		}
		
			tr.notes td {
				padding: 5px 15px 5px 30px;
			}
	
		
	
		tr:nth-child(1):hover {
			background-color: #FFF;
		}