body {
	background-color: #DEF;
	margin: 0px;
	padding: 0px;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/* login baesd on a guide from red team design<http://www.red-team-design.com/slick-login-form-with-html5-css3>.
*/


#login {
	background-color: #FFF;
	border: 1px solid #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 
        0 0 2px rgba(0, 0, 0, 0.2),  
        0 1px 1px rgba(0, 0, 0, .2),
		0 3px 0 #CCC,
		0 4px 0 rgba(0, 0, 0, .2);
	margin: 200px auto 0px;
	padding: 5px;
	text-align: center;
	width: 500px;
}

	#login h1 {
		color: #666;
		font-variant: small-caps;
		margin: 0px;
		padding: 10px 0px 0px;
	}

	#login #textInputs input {
		background-color: #EEE;
		border: 1px solid #ccc;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		border-radius: 5px;
		height: 15px;
		margin: 10px 15px 10px;
		padding: 10px;
		width: 448px;
	}

	#login #textInputs input:focus {
		background-color: #FFF;
		border: #fddb6f 1px solid;
	}
	
	#login #actionable {
		padding-bottom: 10px;
	}
	
		#login #actionable input {
			background-color: #ffb94b;
	
			border: 1px solid #ccc;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
			border-radius: 5px;
			cursor: pointer;
			float: left;
			font-weight: bolder;
			height: 35px;
			margin-left: 15px;
			width: 120px;
		}
		
			#login #actionable input:focus,#login #actionable input:hover  {
				 background-color: #fddb6f;
			}
		
		#login #actionable a {
			color: #3151A2;
			float: right;
			line-height: 35px;
			margin-right: 15px;
		}