body {
	background-color: #DEF;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px auto 0px;
	max-width: 1030px;
	padding: 0px 15px 0px;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.clear {
	clear: both;
	content: "";
}

/* login baesd on a guide from red team design<http://www.red-team-design.com/slick-login-form-with-html5-css3>.
*/


form, table {
	background-color: #FFF;
	border: 1px solid #ccc;
	border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
	box-shadow: 
        0px 0px 2px rgba(0, 0, 0, 0.2),  
        0px 2px 1px rgba(0, 0, 0, .2),
		0px 4px 0px #CCC,
		0px 6px 0px rgba(0, 0, 0, .2);
	margin: 100px auto 0px;
	padding: 5px;
	text-align: center;
}

form {
	max-width: 500px;
}

	form h1 {
		color: #666;
		font-variant: small-caps;
		margin: 0px;
		padding: 10px 0px 0px;
	}

	.textInputs input, .textInputs textarea {
		background-color: #EEE;
		border: 1px solid #ccc;
		border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
		height: 15px;
		margin: 10px auto 10px;
		padding: 10px;
		width: 89%
	}
		.textInputs textarea {height: auto;}

	.textInputs input:focus, .textInputs textarea:focus {
		background-color: #FFF;
		border: #fddb6f 1px solid;
	}
	
	.actionable {
		padding-bottom: 10px;
	}
	
		.actionable input {
			background-color: #ffb94b;
			border: 1px solid #ccc;
			border-radius: 6px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
			cursor: pointer;
			float: left;
			font-weight: bolder;
			height: 35px;
			margin-left: 20px;
			width: 120px;
		}
		
			.actionable input:focus,
			.actionable input:hover  {
				 background-color: #fddb6f;
			}
		
		.actionable a {
			color: #3151A2;
			float: right;
			line-height: 35px;
			margin-right: 1em;
		}
		
/* End of login CSS */

header, section, footer, nav {
	display: block;
	clear: both;
}

	nav a {
		background-color: #FFF;
		border: 1px #CCC solid;
		color: #000;
		display: block;
		float: left;
		font-size: 16px;
		line-height: 35px;
		padding: 5px;
		text-align: center;
		text-decoration: none;
		margin-right: -1px;
		vertical-align: central;
		width: 130px;
	}
	
		nav a:nth-last-of-type(1) {
			float: right;
			margin: 0px;
		}
		
		nav a:hover {
			background-color: #DDD;
		}

table {
	float: left;
	margin: 10px auto 10px;
	text-align: left;
	width: 50%;
}

	.add {
		margin: 10px auto 10px;
		max-width: 600px;
		display: none;
	}
		.add .actionable input:nth-last-of-type(1) {
			float: right;
			margin-right: 20px;
		}
		
	caption {
		font-size: 22px;
	}

	#Payments {clear: left;}

	/* Total column for Payments */
	#Payments td:nth-of-type(3):before, 
	/* Amount column for Reciepts */
	#Reciepts td:nth-of-type(2):before,
	/* Purchase column for Reciepts */ 
	#Reciepts td:nth-of-type(3):before {
		content: "$";
	}
	
	th {
		border-bottom: 1px #000 solid;
		font-size: 25px;
		min-width: 90px;
	}
	
	td {
		padding: 15px;
	}
	
	#Reciepts tr:nth-of-type(even) {background-color: #DDD;}
	#Payments tr:nth-of-type(4n+2) {background-color: #DDD;}
	#Payments tr:hover {background-color: #fddb6f;}
	#Payments tr:nth-of-type(1) {background-color: #FFF;}
	#Payments tr.notes {background-color:#DEF;}
	#Payments tr {cursor: pointer;}
	
		/*#Payments td:nth-of-type(1):before {
			background-image: url(images/pm_toggles.png);
			background-position: right;
			background-repeat: no-repeat;
			content: "";
			float: left;
			height: 16px;
			margin: 0 10px 0 -5px;
			width: 16px;
		}
			
			#Payments .notes td:before {
				height: 0;
				width: 0;
			}
			
			#Payments .notes td:hover:before {
				background-position: left;
				height: 16px;
				margin-left: -20px;
				margin-right: 0px;
				width: 16px;
			}*/
	
	tr {
		height: 26px;
	}
		tr.notes {
			display: none;
		}
		
			tr.notes td {
				padding: 5px 15px 5px 28px;
			}
	
		
	
		tr:nth-child(1):hover {
			background-co
		}